*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 2rem 0 0 0;
}

.blueTheme{
    background-color: blue;
    color: #fff;
    width: 800px;
    margin: auto;
}

.redTheme{
    background-color: red;
    color: #fff;
    width: 800px;
    margin: auto;
}

form{
   max-width: 400px; 
   margin: 2rem auto 1rem auto;
}

input {
    width: 100%;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
  box-sizing: border-box;
}