*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

h1{
    text-align: center;
    margin: 2rem 0 0 0;
}

.firstWidth{
    width: 90%;
}

.thirdWidth{
    width: 80%;
}

form{
   max-width: 400px; 
   margin: 2rem auto 1rem auto;
}

input {
    width: 100%;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border: 1px solid;
    width: 80%;
    margin: 8px auto;
}

table, th, td {
    border: 1px solid;
}

.option-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 8px 0 -7px 0;
}

#themes{
    width: 30px;
}